header {
    background-color: #2C2C2C;
}

header .logo img {max-width: 200px;}

.bd-navbar .navbar-toggler, 
.bd-navbar .nav-link {
    padding-right: 0.25rem;
    padding-left: 0.25rem;
    color: rgba(4,209,178,0.85);
}
.bd-navbar .navbar-toggler.active, 
.bd-navbar .nav-link.active {
    font-weight: 600;
    color: #04D1B2;
}